body {
  font-family: sans-serif;
  padding: 1rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product,
.cart-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px 0;
}

#products,
#cart {
  margin-top: 20px;
}
